<?xml version="1.0"?>
<ruleset name="y-php">
  <description>WPCS for y-php, minus naming sniffs (camelCase API mirrors Yjs).</description>
  <file>src</file>
  <file>tests</file>
  <arg name="extensions" value="php"/>
  <arg value="sp"/>
  <config name="testVersion" value="7.4-"/>
  <rule ref="PHPCompatibilityWP"/>
  <rule ref="WordPress">
    <exclude name="WordPress.NamingConventions.ValidFunctionName"/>
    <exclude name="WordPress.NamingConventions.ValidVariableName"/>
    <exclude name="WordPress.Files.FileName"/>
    <exclude name="PSR2.Methods.MethodDeclaration.Underscore"/>
    <exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/>
    <exclude name="Generic.Commenting.DocComment.MissingShort"/>
    <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
    <exclude name="Squiz.Commenting.FunctionCommentThrowTag.Missing"/>
    <exclude name="Universal.NamingConventions.NoReservedKeywordParameterNames"/>
  </rule>
</ruleset>
